@import "tailwindcss";

/* Enable class-based dark mode variant in v4 */
@custom-variant dark (&:where(.dark, .dark *));

@add-plugin "@tailwindcss/forms";

body {
  @apply container mx-auto max-w-4xl bg-white text-black dark:bg-slate-950 dark:text-slate-100;
}
